# 0. Libraries Importing

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# dataframe manipulation
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# set notebook width to 100%
from IPython.core.display import display, HTML, Markdown
display(HTML("<style>.container { width:100% !important; }</style>"))

# 1. Data loading

In [2]:
data_path = 'data/sales_initial.xlsx'
time_column = 'Date'
phenomenon_column = 'Laptops_Sale'

### 1. Load initial Data
df = (pd.read_excel(data_path))

display(df.head())
print(f'Shape of the initial data: {df.shape}.')

    Month  Laptops_Sale
0  201001           932
1  201002           929
2  201003           938
3  201004           964
4  201005           990

Shape of the initial data: (144, 2).

# 2. Data preparation

In [3]:
### 1. Create df_dates
df_dates = (pd.DataFrame(data={'Date':pd.date_range(start='1/1/2010', end='31/12/2021')}))
df_dates['Month'] = (df_dates['Date']
                     .apply(lambda x: str(x.year) + (str(x.month) if x.month >= 10 else f'0{x.month}'))
                     .astype(int)
                    )

df_dates = (df_dates
            .groupby('Month')
            .last()
           )

### 2. Replace 'Month' in df with its last day of the month
df_tsa = (df
          .merge(right=df_dates, how='inner', on='Month')
          .loc[:, [time_column, phenomenon_column]]
          .reset_index(drop=True)
         )

print('\n*** Time range: {0} - {1} ***'.
      format(str(df_tsa[time_column].min()).split(' ')[0],
             str(df_tsa[time_column].max()).split(' ')[0])
     )

display(df_tsa.head())
print(f'Shape of the prepared data: {df.shape}.')

*** Time range: 2010-01-31 - 2021-12-31 ***

        Date  Laptops_Sale
0 2010-01-31           932
1 2010-02-28           929
2 2010-03-31           938
3 2010-04-30           964
4 2010-05-31           990

Shape of the prepared data: (144, 2).

# 3. Save prepared data

In [4]:
df_tsa.to_csv('data/sales_prepared.csv', index=False)
print('Data is successfully saved!')

Data is successfully saved!